@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Oswald:wght@200;300;400&display=swap');

:root {
  --primary-font: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

.page-container {
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav-container {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(79, 114, 143);
}

nav {
  width: 1200px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

.nav {
  height: 100%;
  min-width: 200px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.nav:not(:last-child) {
  margin-right: 15px;
}

.dd-menu {
  width: 100%;
  bottom: 0;
  position: absolute;
  transform: translateY(105%);
  background-color: rgb(79, 114, 143);
}

.dd-menu>li {
  padding: 20px 20px;
  white-space: nowrap;
}

.dd-menu>li:hover {
  background-color: rgb(115, 165, 206);
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.algorithms-list {
  display: none;
}

.content-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selected-algorithm-container {
  display: flex;
}

.selected-algorithm-container>p {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.selected-algorithm {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.5);
}

.controls-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.controls {
  display: flex;
}

.controls-button {
  min-width: 100px;
  font-size: 0.8rem;
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  user-select: none;
  cursor: pointer;
}

.controls-button:not(:last-child) {
  margin-right: 10px;
}

#speed-button {
  position: relative;
  color: white;
  text-transform: lowercase;
  background-color: rgb(54, 54, 54)
}

.speed-list {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(calc(100% + 5px));
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color: rgb(54, 54, 54);
  z-index: 5;
}

.speed-list>li {
  padding: 15px 20px;
  white-space: nowrap;
  z-index: 5;
}

.speed-list>li:hover {
  background-color: rgb(102, 102, 102);
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.bar {
  display: inline-block;
  width: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
}

.bar:not(:last-child) {
  margin-right: 2px;
}

.displayBlock {
  display: block;
}

.displayFlex {
  display: flex;
}